@import url ("https:fonts.googleapis.com/css?family=Vollkorn");

body {
  margin-left: 0px;
  margin-right: 0px;
  background-color: black;
  color: white;
  border-top: 13px solid #3a3a3a;
  margin-top: 0px;
}

hr {
    margin-left: 7px;
    border-top: 0.1px solid #8c8b8b;
    margin-top: 3%;
}


.main-container {
  margin-left: 6.250em;
  margin-right: 6.250em;

}

/* Hover Effects Start Here */

.hyperlinks {
  transition: 0.2s ease;
  text-decoration: none;
  color: #ff3;
}

.hyperlinks:hover {
  text-decoration: none;
  color:grey;
}

.img {
  transition: 0.3s ease;
  width: 100%;
  height: auto;
}

.img:hover {
opacity: 0.65;
}
.subheadings {
  transition: 0.2s ease;
  color: #ff3;
  text-decoration: none;
  font-size: 24px;
  margin-top: 3px;
}

.subheadings:hover {
color:grey;
text-decoration:grey;

}

a:active {
  opacity: 0.65;
}

/* Hover Effects End Here */

.grid-container1{
  display:grid;
  /* Creating columns */
  grid-template-columns: auto;
  /* Create spaces between items or "blocks" */
  grid-gap: 15px;
  background-color: black;
  color:white;
  padding:10px;
}

.grid-container1 >div {
  text-align: center;
  padding-right: 50px;
  padding-left: 50px;
}

.item-1 {
  grid-column-start: 1;
  grid-column-end: 6;
}

h1 {
  line-height: 1px;
  font-size: 47px;
  text-align: center;
  font-family: Vollkorn;
}

.intro {
  font-size: 34px;
}

.grid-container2{
  display:grid;
  /* Creating columns */
  grid-template-columns: 33% 33% 33%;
  /* Create spaces between items or "blocks" */
  grid-gap: 15px;
  background-color: black;
  color:white;
  padding:10px;
  margin-top: 1px;
}

.grid-container2 >div {
  font-size: 20px;
}

.mainheadings {
  margin-top: 50px;
  font-family: Vollkorn;
}

h2 {
  font-size: 2.938em;
}

.gridinfo {
  color: #ccc;
  font-size: 16px;
  margin-top: 3px;
}


.greytext {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #9e9e9e;
}

.grid-container3{
  display:grid;
  /* Creating columns */
  grid-template-columns: 50% 50%;
  /* Create spaces between items or "blocks" */
  grid-gap: 15px;
  background-color: black;
  color:white;
  padding:10px;
}


.item-13 {
    grid-column: span 2;
    grid-row: span 2;
}

.item-14 {
    grid-row-start: 4;
}
.grid-container4{
  display:grid;
  /* Creating columns */
  grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
  /* Create spaces between items or "blocks" */
  grid-gap: 15px;
  color:white;
  padding:10px;
}

.grid-container4 >div {
  font-size: 34px;
}

.item-16 {
  grid-column-start: 1;
  grid-column-end: 2;

}

.item-17 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.item-18 {
  grid-column-start: 1;
  grid-column-end: 5;
}

.item-19 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.grid3subheadings {
  text-align: center;
  line-height: 1px;
  font-size: 20px;
}

.grid4content {
 font-size: 60%;
  color: grey;
  text-align: center;
}

.grid-container5{
  display:grid;
  /* Creating columns */
  grid-template-columns: 80% 20%;
  /* Create spaces between items or "blocks" */
  grid-gap: 15px;
  color:white;
  padding:10px;
  margin-top: 70px;
}

.grid-container5 >div {
}

.item-20 {
  grid-column-start: 1;
  grid-column-end: 2;

}

.item-21 {
  text-align:right;

}

.footerlinks {
  text-align: left;
  text-decoration: none;
  padding-right: 3%;
}


.avatar {
  border-radius: 400px;
  height: 120px;
  width: 120px;
  margin-top: 80px;
}

.footersymbols {
  text-align: right;
  text-decoration: none;
  color: grey;
  font-size: 100%;

}
/* Media Queries */

@media only screen and (max-width: 950px) {

  .grid-container2 {
    display:grid;
    /* Creating columns */
    grid-template-columns: 50% 50%;
    /* Create spaces between items or "blocks" */
    grid-gap: 15px;
    background-color: black;
    color:white;
    padding:10px;
  }

  h2 {
    font-size: 47px;
  }

  .grid-container4 {
    display:grid;
    /* Creating columns */
    grid-template-columns: 50% 50%;
    /* Create spaces between items or "blocks" */
    grid-gap: 15px;
    color:white;
    padding:10px;
  }

  .grid-container4 >div {
    font-size: 34px;
  }

}

@media only screen and (max-width: 750px) {

  .main-container {
    margin-left: 3.050em;
    margin-right: 3.050em;

  }

  .grid-container2 {
    display:grid;
    /* Creating columns */
    grid-template-columns: 50% 50%;
    /* Create spaces between items or "blocks" */
    grid-gap: 15px;
    background-color: black;
    color:white;
    padding:10px;
  }

  h2 {
    font-size: 47px;
  }

  .grid-container3{
    display:grid;
    /* Creating columns */
    grid-template-columns: 100%;
    /* Create spaces between items or "blocks" */
    grid-gap: 15px;
    background-color: black;
    color:white;
    padding:10px;
  }

  .item-13 {
    grid-column: auto;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .grid-container4 {
    display:grid;
    /* Creating columns */
    grid-template-columns: 50% 50%;
    /* Create spaces between items or "blocks" */
    grid-gap: 15px;
    color:white;
    padding:10px;
  }

  .grid-container4 >div {
    font-size: 34px;
  }

.grid-container5{
  display:grid;
  /* Creating columns */
  grid-template-columns: 100%;
  /* Create spaces between items or "blocks" */
  grid-gap: 15px;
  color:white;
  padding:10px;
  margin-top: 70px;
  text-align: center;
}

.item-21 {
  text-align: center;

}

.footerlinks {
  text-align: center;
  text-decoration: none;
  padding-right: 3%;
}

.footersymbols {
  text-align: center;
  text-decoration: none;
  color: grey;
  font-size: 100%;

}

}

@media only screen and (max-width: 650px) {

  .main-container {
    margin-left: 2.050em;
    margin-right: 2.050em;

  }

  .grid-container2 {
    display:grid;
    /* Creating columns */
    grid-template-columns: 100%;
    /* Create spaces between items or "blocks" */
    grid-gap: 15px;
    background-color: black;
    color:white;
    padding:10px;
  }

  h2 {
    font-size: 47px;
  }

  .grid-container4 {
    display:grid;
    /* Creating columns */
    grid-template-columns: 100%;
    /* Create spaces between items or "blocks" */
    grid-gap: 15px;
    color:white;
    padding:10px;
  }

  .grid-container4 >div {
    font-size: 34px;
  }


}

@media only screen and (max-width: 330px) {

  .main-container {
    margin-left: 1.250em;
    margin-right: 1.250em;

  }

  .grid-container2 {
    display:grid;
    /* Creating columns */
    grid-template-columns: 100%;
    /* Create spaces between items or "blocks" */
    grid-gap: 15px;
    background-color: black;
    color:white;
    padding:10px;
  }

  h2 {
    font-size: 35px;
  }

  .grid-container4 {
    display:grid;
    /* Creating columns */
    grid-template-columns: 100%;
    /* Create spaces between items or "blocks" */
    grid-gap: 15px;
    color:white;
    padding:10px;
  }

  .grid-container4 >div {
    font-size: 34px;
  }


}
@media only screen and (max-width: 260px) {

  .main-container {
    margin-left: 0.250em;
    margin-right: 0.250em;

  }
}
