

body {
  margin-left: 0px;
  margin-right: 0px;
  background-color: black;
  color: white;
}

hr {
    margin-left: 11px;
    margin-right: 11px;
    border-top: 1px solid #8c8b8b
}


.main-container {
  margin-left: 100px;
  margin-right: 100px;

}

/* Hover Effects Start Here */

.hyperlinks {
  transition: 0.2s ease;
  text-decoration: none;
  color: yellow;
}

.hyperlinks:hover {
  text-decoration: none;
  color:grey;
}

.img {
  transition: 0.3s ease;
}

.img:hover {
opacity: 0.65;
}
.subheadings {
  transition: 0.2s ease;
  color: yellow;
  text-decoration: none;
  font-size: 24px;
}

.subheadings:hover {
color:grey;
text-decoration:grey;

}


/* Hover Effects End Here */

.grid-container1{
  display:grid;
  /* Creating columns */
  grid-template-columns: auto;
  /* Create spaces between items or "blocks" */
  grid-gap: 15px;
  background-color: black;
  color:white;
  padding:10px;
}

.grid-container1 >div {
  text-align: center;
  padding-right: 50px;
  padding-left: 50px;
}

.item-1 {
  grid-column-start: 1;
  grid-column-end: 6;
}

h1 {
  line-height: 1px;
  font-size: 47px;
  text-align: center;
}

.intro {
  font-size: 34px;
}

.grid-container2{
  display:grid;
  /* Creating columns */
  grid-template-columns: auto auto auto;
  /* Create spaces between items or "blocks" */
  grid-gap: 15px;
  background-color: black;
  color:white;
  padding:10px;
}

.grid-container2 >div {
  font-size: 20px;
}

h2 {
  font-size: 47px;
}

.item-2 {

}


.item-3 {


}

.item-4 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.item-5 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.item-6 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.item-7 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.item-8 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.item-9 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.item-10 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.gridinfo {
  font-size: 16px;
}

.greytext {
  font-size: 10px;
  color: #9e9e9e;
}

.grid-container3{
  display:grid;
  /* Creating columns */
  grid-template-columns: auto auto;
  /* Create spaces between items or "blocks" */
  grid-gap: 15px;
  background-color: black;
  color:white;
  padding:10px;
}

.grid-container3 >div {
}


.item-13 {
    grid-column: span 2;
    grid-row: span 2;
}

.item-14 {
    grid-row-start: 4;
}
.grid-container4{
  display:grid;
  /* Creating columns */
  grid-template-columns: auto auto auto auto;
  /* Create spaces between items or "blocks" */
  grid-gap: 15px;
  color:white;
  padding:10px;
}

.grid-container4 >div {
  font-size: 34px;
}

.item-16 {
  grid-column-start: 1;
  grid-column-end: 2;

}

.item-17 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.item-18 {
  grid-column-start: 1;
  grid-column-end: 5;
}

.item-19 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.grid3subheadings {
  text-align: center;
  line-height: 1px;
  font-size: 20px;
}

.grid4content {
 font-size: 20px;
  color: grey;
  text-align: center;
}

.footerlinks {
  text-align: left;
  text-decoration: none;
}

.grid-container5{
  display:grid;
  /* Creating columns */
  grid-template-columns: auto ;
  /* Create spaces between items or "blocks" */
  grid-gap: 15px;
  color:white;
  padding:10px;
  margin-top: 70px;
}

.grid-container5 >div {
}

.item-20 {
  grid-column-start: 1;
  grid-column-end: 2;

}

.avatar {
  border-radius: 400px;
  height: 120px;
  width: 120px;
  margin-top: 80px;
}

.footersymbols {
  text-align: right;
  margin-left: 68.2%;
  text-decoration: none;
  color: grey;
  font-size: 20px;

}
